# Frontend tooling
frontend/node_modules
frontend/package-lock.json
frontend/npm-debug.log*
frontend/.vite
frontend/dist

# Build outputs
public/
public_html/index.html

# System / environment
.DS_Store
.env
